.project-viewer-img{
}
.project-viewer-name{
font-size: 30px;
text-align: center;

}
.project-viewer-desc{

}
.project-viewer-skill{
    margin-right: 20px;
    // padding: 10px;
    background-color: rgb(23, 23, 172);
    margin-top: 20px;

}
.project-viewer-skills-container{
}

.select-project{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
    justify-content: center;
}
.project-links{
    margin-top: 10px;
    padding: 10px;
}

.project-viewer-name{
    margin-bottom: 20px;
}