@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
    overflow-x: hidden;
}   

.sweet-loading{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}